:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --purple: #7b5ea6;
  --darkPurple: #554174;
  --white: #fff;
  --offWhite: #f9f4da;
  --teal: #15aa93;
  --darkTeal: rgb(5, 49, 43);
  --yellow: #fcba28;
  --pink: #f38ba2;
  --lightBlack: #282c34;
  --darkGray: #575a60;
  --lightBlack60: rgba(40, 44, 52, 0.6);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  color: var(--offWhite);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: var(--offWhite);
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    padding: .6rem 1rem;
    border-radius: 4px;
  }
}

button.slimmer {
  padding: .5rem 1rem;
}
